<div class="body_panel">
    <div class="item_detail">
        <div class="detail">
            <script type="text/javascript">
                var detail_data = data.detail;
                detail($(".body_panel>.item_detail>.detail"), detail_data);
            </script>
        </div>
        <div class="recommend">
            <div class="tit">
					Recommendations Item Base
            </div>
            <script type="text/javascript">
                var recs = data.recs;
                rec($(".recommend"), recs);
            </script>
        </div>
        @*<div class="recommend">*@
            @*<div class="tit">*@
					@*Recommendations ItemBase*@
            @*</div>*@
            @*<script type="text/javascript">*@
            @*var recs = data.recs_ib;*@
            @*rec($(".recommend"), recs);*@
            @*</script>*@
        @*</div>*@
    </div>
</div>